/* Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Mukta", sans-serif;
}

html {
  font-size: 62.5%;
}
/* End of Default Styles */

/* Container */

/* Navbar */
.navbar {
  width: 100%;
  height: 19rem;
  background-color: #fff;
  display: column;
  align-items: center;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.1);
}

.navbar-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 5rem;
}

.navbar-top div {
  margin-left: 0 4rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo i {
  font-size: 6rem;
  color: #f8872b;
  margin-right: 2rem;
}

.logo span {
  font-family: "kenia", cursive;
  font-size: 4rem;
  letter-spacing: 0.3rem;
  color: #073e72;
}

.search-bar {
  position: relative;
}

.search-bar input {
  width: 52rem;
  padding: 1.2rem 1.4rem 1.2rem 3.7rem;
  background-color: #eaeff3;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #073e72;
}

.search-bar input::placeholder {
  font-size: 1.7rem;
  font-weight: 300;
  color: #073e72;
}

.search-bar i {
  position: absolute;
  top: 50%;
  left: 1.4rem;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #073e72;
}

.user {
  font-size: 2rem;
  color: #073e72;
}

.user i,
.user span {
  margin-right: 1.2rem;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  height: 8.5rem;
  padding-top: 2rem;
}

.nav-list div {
  width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 0.1rem solid #e9edf1;
  cursor: pointer;
}

.nav-list div:nth-child(1) {
  border: none;
}

.nav-list i {
  font-size: 2rem;
  color: #073e72;
  margin-bottom: 1rem;
}

.nav-list span {
  font-size: 1.6rem;
  color: #073e72;
  letter-spacing: 0.1rem;
}

/* End of Navbar */

/* Landing */
.landing {
  width: 100%;
  height: 90vh;
  position: relative;
}

.landing-bg {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  height: 65rem;
  background-color: #0b3954;
  margin-top: 145px;
  border-radius: 3rem;
}

.banner {
  width: 60%;
  height: 65rem;
  position: absolute;
  top: 8rem;
  left: 50%;
  margin-top: 150px;
  transform: translateX(-50%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5));
  border-radius: 3rem;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3rem;
  opacity: 0.8;
}

.banner-heading {
  position: absolute;
  top: 10rem;
  right: 5rem;
  font-size: 8rem;
  color: #fff;
  width: 40%;
  line-height: 1;
  text-align: right;
  text-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.8);
}

.banner-btn {
  position: absolute;
  top: 28rem;
  width: 18rem;
  height: 4rem;
  border: none;
  border-radius: 3rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.4s;
}

.banner-btn-1 {
  right: 25rem;
  background-color: #f8872b;
  color: #fff;
  font-weight: bolder;
}

.banner-btn-1:hover {
  background-color: black;
  color: #fff;
  width: 19rem;
  height: 5rem;
  font-size: 1.8rem;
  font-weight: 800;
}

.banner-btn-2 {
  right: 5rem;
  background-color: #fff;
  color: #f8872b;
  font-weight: 500;
}

.banner-btn-2:hover {
  background-color: #f8872b;
  color: #fff;
  width: 19rem;
  height: 5rem;
  font-size: 1.8rem;
  font-weight: 800;
}

/* End of Landing */

/* Products */
.products {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.products-top {
  width: 60%;
  margin-bottom: 8rem;
}

.products h3 {
  font-size: 2rem;
  color: #073e72;
}

.products h2 {
  font-size: 7rem;
  color: #f8872b;
}

.products h1 {
  font-size: 9rem;
  color: #073e72;
  margin-top: -5rem;
}

.products-icons {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.products-icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  height: 20rem;
  margin-right: 2rem;
  background-color: #f7f7f7;
  padding: 3rem 0;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.4s;
}

.products-icons div:hover {
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}

.products-icons div:last-child {
  margin-right: 0;
}

.products-icons div img {
  margin-bottom: 3rem;
}

.products-icons div span {
  font-size: 2.5rem;
  color: #073e72;
}

/* End of Products */

/* Pricing */
.pricing {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20rem;
}

.pricing-top {
  display: flex;
  align-items: center;
  margin-bottom: 15rem;
}

.pricing-top img {
  margin-right: 20rem;
}

.pricing-top h1 {
  font-size: 7rem;
  color: #073e72;
  width: 50rem;
  line-height: 1;
  margin-bottom: 3rem;
}

.pricing-top button,
.pricing button {
  width: 18rem;
  height: 4rem;
  background-color: #fff;
  border: 0.1rem solid #f8872b;
  border-radius: 3rem;
  font-size: 1.6rem;
  color: #f8872b;
  cursor: pointer;
  transition: all 0.4s;
}

.pricing-top button:hover,
.pricing button:hover {
  background-color: #f8872b;
  color: #fff;
  width: 18rem;
  height: 4rem;
  font-size: 1.6rem;
}

.pricing-cards {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.pricing-card {
  width: 30rem;
  height: 45rem;
  background-color: #f7f7f7;
  margin: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
  cursor: pointer;
  position: relative;
}

.pricing-card-icons {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
}

.pricing-card-icons i {
  font-size: 1.2rem;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  color: #073e72;
  border-radius: 50%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(2rem);
  transition: all 0.3s;
}

.pricing-card:hover .pricing-card-icons i {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.img-wrapper {
  width: 20rem;
  height: 18rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.pricing-card h3 {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #073e72;
}

.stars i {
  font-size: 1.6rem;
  color: #f8872b;
}

.pricing-card h4 {
  font-size: 1.8rem;
  color: #073e72;
}

/* End of Pricing */

/* Blog */
.blog {
  width: 100%;
  height: 80%;
  background-color: #073e72;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9rem 2rem;
}

.blog-content {
  width: 50%;
  height: 50rem;
  background-color: #ffb128;
  border-radius: 3rem;
}

.blog-top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.blog-top img {
  margin-top: 5rem;
}

.trends h1 {
  font-size: 6rem;
  width: 35rem;
  line-height: 1;
  color: #fff;
  margin-bottom: 3rem;
}

.trends button {
  width: 18rem;
  height: 4rem;
  background-color: #0b3954;
  border: none;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.trends button:hover {
  background-color: #f8872b;
  color: #073e72;
  width: 18rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.blog-articles {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.article {
  width: 23rem;
  height: 10rem;
  margin: 0 3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.article span {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
}
.article span:nth-child(1) {
  font-size: 5rem;
  font-weight: bold;
  margin-right: 1rem;
}

/* End of Blog */

/* Contact */
.contact {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  padding: 0.2rem 0;
}

.contact-content {
  width: 50%;
  height: 15rem;
  display: flex;
}

.content-left {
  width: 40%;
  height: 80%;
  background-color: #ffb128;
  border-radius: 2rem 0 0 2rem;
  display: flex;
  align-items: center;
  padding-left: 4rem;
}

.content-left h2 {
  width: 80%;
  font-size: 2.5rem;
  color: #fff;
  line-height: 1.4;
}

.content-left span {
  font-size: 4.2rem;
  font-weight: 800;
  color: #073e72;
}

.content-right {
  width: 60%;
  height: 80%;
  background-color: #0b3954;
  border-radius: 0 2rem 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-right input {
  width: 35rem;
  height: 4rem;
  background-color: #174b69;
  padding: 2rem;
  border: none;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.content-right input::placeholder {
  color: #fff;
  font-size: 1.4rem;
}

.content-right input:focus {
  border: 0.1rem solid #f8872b;
}

.content-right button {
  width: 13rem;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 800;
  background-color: #f8872b;
  border: none;
  border-radius: 3rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.content-right button:hover {
  background-color: #fff;
  color: #073e72;
  width: 13rem;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 800;
}

/* End of Contact */

/* Footer */
.footer {
  width: 50%;
  height: 5rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1rem solid #ccc;
}

.copyright {
  font-size: 1.6rem;
  color: #073e72;
}

.brand {
  display: flex;
  align-items: center;
}

.brand i {
  font-size: 2rem;
  color: #f8872b;
  margin-right: 1.5rem;
}

.brand h1 {
  font-family: "Kenia", cursive;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  color: #073e72;
}

/* End of Footer */

/* End of Container */
